
/* Extra smoll device start */
@media (max-width:575px){
    #banner .banner_slider .banner_item .banner_text img{
        display: none;
    }
    #banner .banner_slider .banner_item .banner_text h1{
        font-size: 50px;
    }
   
    #banner .banner_slider .banner_item .banner_text{
        text-align: center !important;
    }
/* banner sec end */
#about {
	margin-top: 40px;
	margin-bottom: 40px;
}

#about .ab_details .header_sec p:first-of-type {
	margin: 0px 16px;
}
/* about css end */
#gallery {
	margin-bottom: 40px;
}
#team {
	margin-bottom: 40px;
}
#testimonial {
	margin-bottom: 40px;
}
#membership .membership .plan_item .plan_header h4 {
	font-size: 20px;
}
#membership .membership .plan_item{
    margin-bottom: 5px;
}
#membership .membership .plan_item .price h3{
    font-size: 40px;
}
#membership {
	margin-bottom: 40px;
}
#countUp .countUp .count_item{
    margin-bottom: 20px;
}
#countUp .countUp .count_item h5,
#countUp .countUp .count_item h4{
    text-align: center;
}
#countUp {
	margin-bottom: 40px;
}
#shedule {
	margin-top: 40px;
	margin-bottom: 40px;
}
#shedule .nav-tabs .nav-item{
    width: 100%;
    border-bottom: 1px solid rgb(250, 244, 244);
}
#shedule .main_shedule ul li {
	width: 100%;

}



}
/* Extra smoll device end */