:root{
    --ff1:'Oswald', sans-serif;
    --ff1:'Open Sans', sans-serif;
    --brandcl:#e23e38;
    --tiwtter:#1da0f2;
    --cl1:#353535;
    --over5:rgba(226, 62, 56, 0.5);
    --over6:rgba(0, 0, 0, 0.6);
    --over8:rgba(0, 0, 0, 0.8);
    --over9:rgba(0, 0, 0, 0.9);
    --bg1:#ddd;
    --bg2:#f1f1f1;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
img{
    vertical-align: middle;
}
.clr{
    clear: both;
}
/* ==========================
        common css ends
=============================*/

/* ==========================
        Fonts css start
=============================*/
.osw_reg{
    font-family: var(--ff1);
    font-weight: 400;
}
.osw_md{
    font-family: var(--ff1);
    font-weight: 500;
}
.osw_bold{
    font-family: var(--ff1);
    font-weight: 700;
}
.open_reg{
    font-family: var(--ff2);
    font-weight: 400;
}
.open_md{
    font-family: var(--ff2);
    font-weight: 500;
}
.open_bold{
    font-family: var(--ff2);
    font-weight: 700;
}
.fs_14{
    font-size: 14px;
}
.fs_60{
    font-size: 60px;
}
.fs_30{
    font-size: 30px;
}
.fs_22{
    font-size: 22px;
}
.fs_13{
    font-size: 13px;
}
.fs_14{
    font-size: 14px;
}
.fs_29{
    font-size: 29px;
}
.fs_40{
    font-size: 40px;
}
.fs_50{
    font-size: 50px;
}
/* ==========================
        Fonts css ends
=============================*/
/* navbar css starts */
 #menuPart{
     width: 100%;
    position: absolute;
    top: 30px;
    left: 0;
    z-index: 9999;
    background: rgba(53, 53, 53, 0.25);
}
.navbar-light .navbar-brand{
    padding: 10px 30px !important;
    background: var(--cl1);

}
.navbar-light .navbar-brand{
    transform: skewX(-35deg);
    -webkit-transform: skewX(-35deg);
    -moz-transform: skewX(-35deg);
    -ms-transform: skewX(-35deg);
    -o-transform: skewX(-35deg);
    position: absolute;
}
.navbar-light .navbar-brand img{
    transform: skewX(35deg);
    -webkit-transform: skewX(35deg);
    -moz-transform: skewX(35deg);
    -ms-transform: skewX(35deg);
    -o-transform: skewX(35deg);
}
.navbar-expand-lg .navbar-nav .nav-link{
    padding: 0;
    line-height: 50px;
    position: relative;
    color: #f8f8f8 !important;
}
.navbar-light .navbar-nav .nav-link::before{
    content: '';
    width: 100%;
    height: 0;
    background: white;
    position: absolute;
    inset: 0;
    z-index: -2;
    transition: all linear 0.4s;
    -webkit-transition: all linear 0.4s;
    -moz-transition: all linear 0.4s;
    -ms-transition: all linear 0.4s;
    -o-transition: all linear 0.4s;
}
.navbar-light .navbar-nav .nav-item .nav-link:hover{
    color: var(--cl1) !important;
}
.navbar-light .navbar-nav .nav-link:hover:before{
    height: 100%;
}
.navbar-light .navbar-nav .nav-link::after{
    content: '';
    width: 0%;
    height: 3px;
    background:var(--brandcl);
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    transition: all linear 0.4s;
    -webkit-transition: all linear 0.4s;
    -moz-transition: all linear 0.4s;
    -ms-transition: all linear 0.4s;
    -o-transition: all linear 0.4s;
}
.navbar-light .navbar-nav .nav-link:hover::after{
    width: 100%;
}

/* navbar css starts */
/* banner starts */

#banner .banner_slider .bg1{
    background: url(../images/banner_bg1.jpg) no-repeat center / cover;
}
#banner .banner_slider .bg2{
    background: url(../images/banner_bg2.jpg) no-repeat center / cover;
}
#banner .banner_slider .bg3{
    background: url(../images/banner_bg3.jpg) no-repeat center / cover;
}

#banner .banner_slider .banner_item{
    padding-top: 250px;
    padding-bottom: 117px;
    position: relative;
    z-index: 1;

}
#banner .banner_slider .banner_item::after{
   content: '';
   width: 100%;
   height: 100%;
   background: var(--over6);
   position: absolute;
   inset: 0;
   z-index: -2;

}
#banner .banner_slider .banner_item .banner_text h1{
    color:var(--brandcl);
}
#banner .banner_slider .banner_item .container .row .banner_text p{
    margin-bottom: 27px;
}
#banner .banner_slider .banner_item .banner_text .cta_btn{
     margin-right: 25px;
     display: inline-block ;
      transition:all linear 0.4s ;
      -webkit-transition:all linear 0.4s ;
       -moz-transition:all linear 0.4s ; 
       -ms-transition:all linear 0.4s ;
        -o-transition:all linear 0.4s ;
        outline: none;
}
#banner .banner_slider .banner_item .banner_text .cta_btn:hover{
   background: var(--brandcl);
   border: 1px solid var(--brandcl);
   color: #f1f1f1;
    }
#banner .banner_slider .banner_item .banner_text .cta_btn:last-of-type{
    margin-right: 0px;
    }
#banner .banner_slider .banner_item  .banner_text{
    position: relative;
}
#banner .banner_slider .banner_item  .banner_text img {
    position: absolute;
	top: 19px;
	left: -2px;
	height: 88%;
	width: 100%;
    z-index: -1;
}
#banner .banner_slider .slick-dots .slick-active{
    background: var(--brandcl);
}
#banner .banner_slider .slick-dots{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 94%;
    left: 50%;
    width: 80px;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);

}
#banner .banner_slider .slick-dots li{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    
}
#banner .banner_slider .slick-dots li .slick-active{
  width: 10px;
  height: 10px;
  color: var(--brandcl);
  border-radius: 50% ;
  -webkit-border-radius: 50% ;
  -moz-border-radius: 50% ;
  -ms-border-radius: 50% ;
  -o-border-radius: 50% ;
}
#banner .banner_slider .slick-dots li button {
	font-size:0px;
	outline: none;
	width: 10px;
	background: transparent;
	height: 10px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	border: 1px solid var(--brandcl);
	position: absolute;
	top: 7%;
}
#banner .banner_slider .slick-dots li:last-of-type{
    margin-left: 0px;
}
#banner .banner_slider{
    position: relative;
}
#banner .banner_slider .arrow_left {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border: 1px solid #696868;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99999999;
    position: absolute;
    top: 50%;
    left: 5%;
    cursor: pointer;
    color: #353535;
    font-size: 30px;
    transition: all linear 0.4s;
    -webkit-transition: all linear 0.4s;
    -moz-transition: all linear 0.4s;
    -ms-transition: all linear 0.4s;
    -o-transition: all linear 0.4s;
}
#banner .banner_slider .arrow_right {
	width: 45px;
    height: 45px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border: 1px solid #696868;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99999999;
    position: absolute;
    top: 50%;
    right: 5%;
    cursor: pointer;
    color: #353535;
    font-size: 30px;
    transition: all linear 0.4s;
    -webkit-transition: all linear 0.4s;
    -moz-transition: all linear 0.4s;
    -ms-transition: all linear 0.4s;
    -o-transition: all linear 0.4s;
}
#banner .banner_slider .arrow_left:hover{
    background: var(--brandcl);

}
#banner .banner_slider .arrow_right:hover{
    background: var(--brandcl);
    border:1px solid var(--brandcl) ;
}
#banner .banner_slider .arrow_left{
    display: flex;
    justify-content: center;
    align-items: center;
}
/* banner ends */
/*  about starts */
#about{
    margin-top: 80px;
    margin-bottom: 80px;
}
#about .ab_vdo .vdo_overlay{
    background: var(--over6);
}

#about .ab_vdo .vdo_overlay i{
    font-size: 30px;
    width: 50px;
    height: 50px;
    color: var(--cl1);
    background: var(--brandcl);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    color: white;
    line-height: 50px;
    text-align: center;
    transition: all linear 0.4s;
    -webkit-transition: all linear 0.4s;
    -moz-transition: all linear 0.4s;
    -ms-transition: all linear 0.4s;
    -o-transition: all linear 0.4s;
}
#about .ab_vdo .vdo_overlay i:hover{
    color:var(--brandcl) ;
    background: var(--cl1);
}
#about .ab_details .header_sec h2{
    color: var(--cl1);
}
#about .ab_details .header_sec img{
    margin-top: -12 !important;
}
#about .ab_details .header_sec p:first-of-type{
    margin:0px 26px;
    padding-top: 19px;
    padding-bottom: 25px;
}
/*  about ends */
/*  gallery starts */
#gallery{
   margin-bottom: 80px;
}
#gallery .gallery_bg{
    background: url(../images/gallery_bg.jpg) no-repeat center / cover;
    position: relative;
    z-index: 1;
    padding-top: 30px;
    margin-top: 25px;
}
#gallery .gallery_bg::after{
    content: '';
    width: 100%;
    height: 100%;
    background: var(--over8);
    position: absolute;
    inset: 0;
    z-index: -1;
}
#gallery .gallery_bg .gl_item {
    margin-bottom: 30px;
}

#gallery .gallery_bg .gl_item .item_overlay{
    background: var(--over5);
    border: 5px solid rgba(255, 255, 255, 0.5);
    transform: scale(0.95);
    -webkit-transform: scale(0.95);
    -moz-transform: scale(0.95);
    -ms-transform: scale(0.95);
    -o-transform: scale(0.95);
    visibility: hidden;
    opacity: 0;
    transition: all linear 0.4s;
    -webkit-transition: all linear 0.4s;
    -moz-transition: all linear 0.4s;
    -ms-transition: all linear 0.4s;
    -o-transition: all linear 0.4s;
}
#gallery .gallery_bg .gl_item:hover .item_overlay{
    visibility:visible;
    opacity: 1;
}
#gallery .gallery_bg .gl_item .item_overlay i{
    color: #fff;
    font-size: 22px;
    transition: all linear 0.4s;
    -webkit-transition: all linear 0.4s;
    -moz-transition: all linear 0.4s;
    -ms-transition: all linear 0.4s;
    -o-transition: all linear 0.4s;
}
#gallery .gallery_bg .gl_item .item_overlay i:hover{
    font-size: 25px;
}
/*  gallery ends */
/*  team start */
#team {
    margin-bottom: 80px;
}
#team .team {
    margin-top: 60px;
}
#team .team .card{
    border: 1px solid #ffffff;
    transition: all linear 0.4s;
    -webkit-transition: all linear 0.4s;
    -moz-transition: all linear 0.4s;
    -ms-transition: all linear 0.4s;
    -o-transition: all linear 0.4s;
}
#team .team .card .card_overlay{
    background: var(--over5);
    visibility: hidden;
    opacity: 0;
    transform: scale(0);
    transition: all linear 0.4s;
    -webkit-transition: all linear 0.4s;
    -moz-transition: all linear 0.4s;
    -ms-transition: all linear 0.4s;
    -o-transition: all linear 0.4s;
    transform: scale(0.95);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    border: 4px solid rgba(255, 255, 255, 0.5);
}
#team .team .card:hover{
    border: 1px solid #ddd;
    margin-top: -50px;
}
#team .team .card:hover .card_overlay{
    visibility: visible;
    opacity: 1;
    transform: scale(1);
    -webkit-transform:rotate(40deg), scale(1),;
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
}
#team .team .card .card_overlay a {

	margin-bottom: 7px;
    margin-right: 7px;
}
#team .team .card .card-details p{
    visibility: hidden;
    opacity: 0;
    margin-top: -5px;
    transition: all linear 0.4s;
    -webkit-transition: all linear 0.4s;
    -moz-transition: all linear 0.4s;
    -ms-transition: all linear 0.4s;
    -o-transition: all linear 0.4s;
}
#team .team .card:hover .card-details p{
    visibility: visible;
    opacity: 1;
}
#team .team .card .card_overlay  i{
        width: 30px;
        height: 30px;
        line-height: 30px;
        text-align: center;
        transition:all linear 0.4s ;
        -webkit-transition:all linear 0.4s ;
        -moz-transition:all linear 0.4s ;
        -ms-transition:all linear 0.4s ;
        -o-transition:all linear 0.4s ;
}
#team .team .card .card_overlay  i:hover{
    color: var(--tiwtter);
}
#team .team .card .card-details h5{
    margin-top: 19px;
}
/*  team ends */
/*  testimonial starts */
#testimonial{
    margin-bottom: 80px;
}
#testimonial .testimonial_bg{
    background: url(../images/testymolial_bg.jpg) no-repeat center / cover;
    position: relative;
    z-index: 1;
}
#testimonial .testimonial_bg::after{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0;
    background: var(--over8);
    z-index: -2;
  
}
#testimonial .testimonial_bg .testi_slider .slider_item p{
    padding-right: 12px;
}
#testimonial .testimonial_bg .testi_slider .slider_item .sliderText .star_box i{
    color: var(--brandcl);
    font-size: 25px;
}
#testimonial .testimonial_bg .testi_slider .slick-dots .slick-active{
    background: var(--brandcl);
}
#testimonial .testimonial_bg .testi_slider .slick-dots{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 100%;
    left: 48%;
    width: 80px;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
   

}
#testimonial .testimonial_bg .testi_slider .slick-dots li{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    
}
#testimonial .testimonial_bg .testi_slider .slick-dots li .slick-active{
  width: 10px;
  height: 10px;
  color: var(--brandcl);
  border-radius: 50% ;
  -webkit-border-radius: 50% ;
  -moz-border-radius: 50% ;
  -ms-border-radius: 50% ;
  -o-border-radius: 50% ;
}
#testimonial .testimonial_bg .testi_slider .slick-dots li button {
	font-size:0px;
	outline: none;
	width: 10px;
	background: transparent;
	height: 10px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	border: 1px solid var(--brandcl);
	position: absolute;
	top: 7%;
    
}

#testimonial .testimonial_bg .testi_slider{
    position: relative;
}
/*  testimonial ends */
/*  membership start */
#membership{
    margin-bottom: 80px;
}
#membership .membership .plan_item .plan1{
    background: url(../images/plan1.jpg) no-repeat center / cover;
}
#membership .membership .plan_item .plan2{
    background: url(../images/plan2.jpg) no-repeat center / cover;

}
#membership .membership .plan_item .plan3{
    background: url(../images/plan3.jpg) no-repeat center / cover;

}
#membership .membership .plan_item .price{

    position: relative;
    z-index: -3;
    padding: 40px 0px;
}

#membership .membership .plan_item .price::after{
    content: '';
width: 100%;
height: 100%;
position: absolute;
inset: 0;
background: var(--over8);
z-index: -2;
}

#membership .membership .plan_item .plan_header h4{
    line-height: 55px;
    background: var(--bg1);
    transition: all linear 0.4s;
    -webkit-transition: all linear 0.4s;
    -moz-transition: all linear 0.4s;
    -ms-transition: all linear 0.4s;
    -o-transition: all linear 0.4s;
  
}
#membership .membership .plan_item:hover .plan_header h4{
    background: var(--brandcl); 
     
}
#membership .membership .plan_item .feature{
    background: var(--bg2);
    
}
#membership .membership .plan_item .feature ul {
    margin-bottom: 0;
    padding: 20px 0px;
}
#membership .membership .plan_item .feature ul li{
   padding-top: 20px;
   margin-bottom: 0;

}
#membership .membership .plan_item .btn{
     background: var(--bg1);
     display: block;
     transition: all linear 0.4s;
     -webkit-transition: all linear 0.4s;
     -moz-transition: all linear 0.4s;
     -ms-transition: all linear 0.4s;
     -o-transition: all linear 0.4s;
     border-radius: 0px;
     -webkit-border-radius: 0px;
     -moz-border-radius: 0px;
     -ms-border-radius: 0px;
     line-height: 27x;
     -o-border-radius: 0px;
}
#membership .membership .plan_item:hover .btn{
    background: var(--brandcl);

}
/*  membership en   */
/*  counterUp start  */
#countUp{
    margin-bottom: 80px;
}
#countUp .countUp{
    background: url(../images/countup_bg.jpg) no-repeat center / cover;
    position: relative;
    z-index: -2;
    margin-top: 30px;

}
#countUp .countUp::after{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0;
    background: var(--over8);
    z-index: -1;

}
/*  counterUp end  */
/*  shedulestarts  */
#shedule{
    margin-bottom: 80px;
}
#shedule .shedule_menu ul li{
    line-height: 50px;
    background: var(--bg1);
    width: 20%;
    text-align: center;
}
#shedule .shedule_menu ul li{
    width: 100%;
    line-height: 50px;
    color: #353535;
    text-decoration: none;
    transition: all linear 0.4s;
    -webkit-transition: all linear 0.4s;
    -moz-transition: all linear 0.4s;
    -ms-transition: all linear 0.4s;
    -o-transition: all linear 0.4s;
    display: inline-block;
    cursor: pointer;
}

#shedule  .container .shedule_menu ul li.active_menu{
  
    background: var(--brandcl)!important; 
    color: #fff;
  
}
#shedule .shedule_menu ul li:hover{
    background: var(--brandcl);
    color: white;
}
#shedule .shedule_contents .shedule_item{
    width: 19.5%;
    background: var(--bg1);
    transition: all linear 0.4s;
    -webkit-transition: all linear 0.4s;
    -moz-transition: all linear 0.4s;
    -ms-transition: all linear 0.4s;
    -o-transition: all linear 0.4s;
    box-sizing: border-box;
    margin-bottom: 5px;
}
#shedule .shedule_contents .shedule_item:hover{
    background: var(--brandcl);
    color: #f1f1f1;
}
#shedule  .tuesday .shedule_contents .shedule_item{
    width: 19.5%;
    background: #ffeb3a;
    transition: all linear 0.4s;
    -webkit-transition: all linear 0.4s;
    -moz-transition: all linear 0.4s;
    -ms-transition: all linear 0.4s;
    -o-transition: all linear 0.4s;
    box-sizing: border-box;
    margin-bottom: 5px;
}
#shedule .tuesday .shedule_contents .shedule_item:hover{
    background: var(--brandcl);
    color: #f1f1f1;
}
#shedule .suturday .shedule_contents .shedule_item{
    width: 19.5%;
    background: #c9f872;
    transition: all linear 0.4s;
    -webkit-transition: all linear 0.4s;
    -moz-transition: all linear 0.4s;
    -ms-transition: all linear 0.4s;
    -o-transition: all linear 0.4s;
    box-sizing: border-box;
    margin-bottom: 5px;
}
#shedule .suturday .shedule_contents .shedule_item:hover{
    background: var(--brandcl);
    color: #f1f1f1;
}
#shedule .wednesday .shedule_contents .shedule_item{
    width: 19.5%;
    background: #85f5e2;
    transition: all linear 0.4s;
    -webkit-transition: all linear 0.4s;
    -moz-transition: all linear 0.4s;
    -ms-transition: all linear 0.4s;
    -o-transition: all linear 0.4s;
    box-sizing: border-box;
    margin-bottom: 5px;
}
#shedule .wednesday .shedule_contents .shedule_item:hover{
    background: var(--brandcl);
    color: #f1f1f1;
}
#shedule .thursday .shedule_contents .shedule_item{
    width: 19.5%;
    background: #f77c78;
    transition: all linear 0.4s;
    -webkit-transition: all linear 0.4s;
    -moz-transition: all linear 0.4s;
    -ms-transition: all linear 0.4s;
    -o-transition: all linear 0.4s;
    box-sizing: border-box;
    margin-bottom: 5px;
}
#shedule .thursday .shedule_contents .shedule_item:hover{
    background: var(--brandcl);
    color: #f1f1f1;
}
#shedule .friday .shedule_contents .shedule_item{
    width: 19.5%;
    background: #8c8af7;
    transition: all linear 0.4s;
    -webkit-transition: all linear 0.4s;
    -moz-transition: all linear 0.4s;
    -ms-transition: all linear 0.4s;
    -o-transition: all linear 0.4s;
    box-sizing: border-box;
    margin-bottom: 5px;
    color: #f1f1f1;
}
#shedule .friday .shedule_contents .shedule_item:hover{
    background: var(--brandcl);
    color: #f1f1f1;
}
#shedule .suturday .shedule_contents .shedule_item{
    width: 19.5%;
    background: #96cef1;
    transition: all linear 0.4s;
    -webkit-transition: all linear 0.4s;
    -moz-transition: all linear 0.4s;
    -ms-transition: all linear 0.4s;
    -o-transition: all linear 0.4s;
    box-sizing: border-box;
    margin-bottom: 5px;
    color: #f1f1f1;
}
#shedule .suturday .shedule_contents .shedule_item:hover{
    background: var(--brandcl);
    color: #f1f1f1;
}
/*  shedule end  */
/* partner ctarts */
#partner{
    margin-bottom: 80px;
}
#partner .partner_item .arrow_left {
	width: 45px;
	height: 45px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	border: 1px solid #696868;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 99999999;
	position: absolute;
	top: 32%;
	left: -6%;
	cursor: pointer;
	color: #353535;
	font-size: 30px;
	transition: all linear 0.4s;
	-webkit-transition: all linear 0.4s;
	-moz-transition: all linear 0.4s;
	-ms-transition: all linear 0.4s;
	-o-transition: all linear 0.4s;
}
#partner .partner_item .arrow_right {
	width: 45px;
	height: 45px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	border: 1px solid #696868;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 99999999;
	position: absolute;
	top: 29%;
	right: -5%;
	cursor: pointer;
	color: #353535;
	font-size: 30px;
	transition: all linear 0.4s;
	-webkit-transition: all linear 0.4s;
	-moz-transition: all linear 0.4s;
	-ms-transition: all linear 0.4s;
	-o-transition: all linear 0.4s;
}
#partner .partner_item .arrow_left:hover{
    background: var(--brandcl);

}
#partner .partner_item .arrow_right:hover{
    background: var(--brandcl);
    border:1px solid var(--brandcl) ;
}
#partner .partner_item .arrow_left{
    display: flex;
    justify-content: center;
    align-items: center;
}
/* partner ends */
/* footer sec ends */
 #footer{
    background: url(../images/footer_bg.jpg) no-repeat center;
    position: relative;
    z-index: 1;
    background-size: cover;
} 
#footer::after{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0;
    background: var(--over8);
    z-index: -1;

}
#footer .footer_logo hr{
 color: #fff;
}
#footer hr{
    color: #fff;
   }
#footer .twitt_sec .twi_icon{
    width: 5%;
}
#footer .twitt_sec .twi_icon i{
    color: var(--tiwtter);
}
#footer .twitt_sec .twi_text p{
    margin-left: 20px;
}
#footer .twitt_sec .twi_text{
    width: 95%;
}
#footer .flickrPhotos .image{
    width: 23%;
    position: relative;
     transition: all linear 0.4s;
    -webkit-transition: all linear 0.4s;
    -moz-transition: all linear 0.4s;
    -ms-transition: all linear 0.4s;
    -o-transition: all linear 0.4s;
    cursor: pointer;
    margin-bottom: 5px;
} 
#footer .flickrPhotos .image::after{
    content: '';
    width: 100%;
    height: 100%;
    background: rgba(226, 62, 56, 0.356);
    position: absolute;
    inset: 0;
    visibility: hidden;
    opacity: 0;

   
}
#footer .flickrPhotos .image:hover::after{
    opacity: 1;
    visibility: visible;
}
#footer .flickrPhotos .image img{
    width: 100%;
}
#footer p a{
    text-decoration: none;
    color: var(--brandcl);
}
#footer .container .contac_info .addres .adrs-icon i{
    color: var(--brandcl);
    width: 20px;
    margin-top: -10px;
    cursor: pointer;
}
#footer .container .contac_info .mobile .mobile-icon i{
    color:var(--brandcl);
    width: 20px;
    margin-top: -10px;
    cursor: pointer;
}
#footer .container .contac_info .email .email-icon i{
    color: var(--brandcl);
    width: 20px;
    margin-top: -10px;
    cursor: pointer;
}
#footer .container .contac_info .social_link .social_icon i{
    color: #fff;
    width: 40px;
    height: 40px;
    cursor: pointer;
    border: 1px solid #fff;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
    transition: all linear 0.4s;
    -webkit-transition: all linear 0.4s;
    -moz-transition: all linear 0.4s;
    -ms-transition: all linear 0.4s;
    -o-transition: all linear 0.4s;
}
#footer .container .contac_info .social_link .social_icon i:hover{
    background: var(--brandcl);
    border: 1px solid var(--brandcl);
}
/* footer sec ends */